@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
}

div, a, b, input, textarea, button, select, form, label, span, td, li, time, body, ul, ol, i, h1, h2, h3, p, table, dd, dl, dt {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  word-wrap: break-word;
  word-break: break-all;
  -webkit-tap-highlight-color: transparent;
}

article, aside, footer, header, section, nav, fieldset {
  display: block;
  padding: 0;
  margin: 0;
}

ul, ol, li {
  list-style: none;
}

input, img, fieldset {
  border: none;
}

img {
  vertical-align: middle;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: block;
}

a, a:hover {
  text-decoration: none;
}

a:focus, input {
  outline: none;
  /*for Firfox*/
}

.l {
  float: left;
}

.r {
  float: right;
}

.pr {
  position: relative;
}

b, strong {
  font-weight: normal;
}

h1, h2 {
  font-weight: normal;
}

.hide {
  display: none;
}

.nucfont {
  font-size: 24px;
  border-radius: 2px;
  cursor: pointer;
}

/**
  说明：全屏显示 布局从body开始
*/
html, body {
  background-color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

/*说明：通用的一个按钮样式，以后合并到 main.css 共用样式中*/
.u-btn {
  display: inline-block;
  padding: 5px 12px;
  border-radius: 2px;
  color: #fff;
  background-color: #ff4081;
  text-align: center;
  letter-spacing: .5px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.3s ease-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.u-btn:hover {
  opacity: .8;
}

/**
  说明：头部 通用
  1、标题
  2、退出按钮
  3、具体操作
*/
.m-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  background-color: #00bcd4;
}

.m-header p.topic-title {
  margin-left: 50px;
  color: #fff;
  font-weight: 600;
}

.m-header p.operate-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  color: #fff;
}

.m-header p.operate-name:before {
  content: "\e63c";
  position: absolute;
  left: -22px;
  top: -1px;
  width: 22px;
  height: 22px;
  font-size: 18px;
  vertical-align: middle;
  font-family: "nucfont";
}

.m-header p.operate-name span {
  padding: 0 2px;
}

/*考试的时候将倒计时、当前索引放到头部*/
.m-header .test-header-info {
  position: absolute;
  right: 100px;
  margin-right: 40px;
  font-weight: 600;
  color: #fff;
}

.m-header .test-header-info p {
  float: left;
}

.m-header .test-header-info .time-count {
  display: none;
  padding-right: 20px;
  border-right: 1px solid #ddd;
}

.m-header .test-header-info p.test-index-info {
  margin-left: 20px;
}

.m-header .test-header-info .test-index-info span:nth-child(1) {
  padding-right: 2px;
  color: #f90;
}

.m-header .test-header-info .test-index-info span:nth-child(2) {
  padding-left: 2px;
}

.m-header p.exit {
  width: 22px;
  height: 22px;
  margin-right: 20px;
}

.m-header .page-close {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(../images/button/btn_close.png) no-repeat center center;
  border-radius: 50%;
  transition: .3s ease;
  cursor: pointer;
}

/**
  说明：main 布局
  1、中间主要显示区域
*/
.main {
  flex: auto;
  display: flex;
  flex-direction: column;
}

/**
  说明：通用的头部显示
  1、图像相关信息--左侧
  2、图像库--右侧
  3、还负责显示 考试、练习时候的 标准答案、学员答案、正确错误 等信息
*/
.m-title {
  display: flex;
  padding: 0 50px;
  position: relative;
  z-index: 99;
}

.m-title > div {
  border-bottom: 1px solid #ababac;
}

.m-title .map-info {
  display: none;
  justify-content: center;
  align-items: center;
}

.m-title .map-info .u-btn {
  margin-left: 10px;
}

.m-title .map-info .img-index {
  padding: 0 2px;
  color: #00bcd4;
  font-weight: 600;
}

.m-title .map-info .img-index + a {
  padding-left: 2px;
}

.m-title .map-info .inuc-star {
  padding-right: 5px;
  color: #f2c200;
  font-size: 22px;
}

.m-title .text-info {
  flex: auto;
  -webkit-user-select: none;
}

.m-title .text-info p {
  line-height: 36px;
  color: #818080;
  font-size: 14px;
  font-family: "微软雅黑";
}

.m-title .text-info .info-1 p,
.m-title .text-info .test-answer p {
  display: inline-block;
  margin-right: 50px;
}

/*考试、练习相关*/
.m-title .text-info .test-info {
  display: flex;
}

/*.m-title .test-info .test-answer {
  border-right: 1px solid #eee;
}*/
.m-title .test-info .test-answer {
  position: relative;
}

.m-title .test-info .test-answer::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  height: 90%;
  width: 1px;
  transform: translateY(-50%);
  background: #ddd;
}

.m-title .test-answer .std p:not(:nth-of-type(1)),
.m-title .test-answer .user p:not(:nth-of-type(1)) {
  display: none;
}

.m-title .test-info .test-result {
  display: flex;
  align-items: center;
}

.m-title .test-result p {
  margin-left: 30px;
  margin-right: 30px;
}

.m-title .test-result > p:nth-of-type(1) {
  font-size: 16px;
  font-weight: 600;
}

.m-title .test-result .pass {
  color: #20b959;
}

.m-title .test-answer .user .markwrong,
.m-title .test-result .nopass {
  color: #f00;
}

.m-title .test-result .timeout {
  color: #f90;
}

/**
  说明：通用部分（按钮操作）
  1、左右两边的 左右箭头按钮
  2、右侧的 判断按钮
*/
.m-oprate {
  /*height:100%;*/
}

.m-oprate .btn-wrap {
  position: fixed;
  top: 140px;
  z-index: 9;
  width: 50px;
  height: 70%;
}

.m-oprate .btn-wrap:hover {
  background: rgba(0, 0, 0, 0.05);
}

.f-fixl {
  left: 0;
}

.f-fixr {
  right: 0;
}

.m-oprate .btn-wrap .btn {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 9;
  width: 40px;
  height: 40px;
  transition: all .3s;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.m-oprate .btn-wrap .btn-prev {
  background: url(../images/dr-icons/btn_left_1.png) no-repeat center center;
}

.m-oprate .btn-wrap .btn-prev:hover {
  background: url(../images/dr-icons/btn_left_2.png) no-repeat center center;
}

.m-oprate .btn-wrap .btn-next {
  background: url(../images/dr-icons/btn_right_1.png) no-repeat center center;
}

.m-oprate .btn-wrap .btn-next:hover {
  background: url(../images/dr-icons/btn_right_2.png) no-repeat center center;
}

/*说明：判断按钮*/
.m-oprate .btn-wrap-1 {
  display: none;
  /*display:flex;*/
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 60%;
  left: 0;
  z-index: 10;
}

.m-oprate .btn-wrap-1 .btn-1,
.m-oprate .btn-wrap-1 .btn-2 {
  display: inline-block;
  margin-top: 10px;
  margin-left: 2px;
  width: 46px;
  height: 46px;
  cursor: pointer;
}

.m-oprate .btn-wrap-1 .btn-1:hover {
  opacity: .8;
}

.m-oprate .btn-wrap-1 .btn-pass {
  background: url(../images/button/btn_pass_normal.png) no-repeat center center;
}

.m-oprate .btn-wrap-1 .btn-pass:hover {
  background: url(../images/button/btn_pass_hover.png) no-repeat center center;
}

.m-oprate .btn-wrap-1 .btn-pass.active {
  background: url(../images/button/btn_pass_check.png) no-repeat center center;
}

.m-oprate .btn-wrap-1 .btn-pass.disabled {
  background: url(../images/button/btn_pass_disable.png) no-repeat center center;
}

.m-oprate .btn-wrap-1 .btn-nopass {
  background: url(../images/button/btn_nopass_normal.png) no-repeat center center;
}

.m-oprate .btn-wrap-1 .btn-nopass:hover {
  background: url(../images/button/btn_nopass_hover.png) no-repeat center center;
}

.m-oprate .btn-wrap-1 .btn-nopass.active {
  background: url(../images/button/btn_nopass_checked.png) no-repeat center center;
}

.m-oprate .btn-wrap-1 .btn-nopass.disabled {
  background: url(../images/button/btn_nopass_disable.png) no-repeat center center;
}

.m-oprate .btn-wrap-1 .disabled {
  cursor: default;
}

.m-oprate .btn-wrap-1 .btn-submit {
  display: none;
  background: #ddd;
  border-radius: 50%;
  color: #666;
  text-align: center;
  line-height: 46px;
  font-weight: 600;
}

.m-oprate .btn-wrap-1 .btn-submit:hover {
  background: #00bcd4;
  color: #fff;
}

.m-oprate .btn-wrap-1 .btn-kp {
  display: inline-block;
  padding: 8px 5px;
  background: #9e9e9e;
  border-radius: 3px;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
}

.m-oprate .kp-wrap {
  display: none;
  position: relative;
}

.m-oprate .btn-kp.active + .kp-list {
  display: block;
}

.m-oprate .kp-wrap .kp-list {
  display: none;
  position: absolute;
  z-index: 12;
  right: 120%;
  width: 200px;
  transform: translateY(-30px);
  padding-bottom: 5px;
  border: 1px solid #ababac;
  background: #efefef;
  font-size: 14px;
  font-family: '微软雅黑';
}

.m-oprate .kp-wrap .kp-list:after {
  content: '';
  position: absolute;
  top: 5px;
  right: -20px;
  border: 10px solid transparent;
  border-left-color: #9a9a9c;
}

.m-oprate .kp-list .kp-close {
  float: right;
  margin: 12px;
  width: 12px;
  height: 12px;
  background: url(../images/dr-icons/icon_close_1.png) no-repeat center center;
  cursor: pointer;
}

.m-oprate .kp-list .title {
  height: 36px;
  line-height: 36px;
  padding-left: 10px;
  background: #9a9a9c;
  color: #fff;
}

.m-oprate .kp-list .item-title {
  margin-top: 10px;
  padding-left: 10px;
  color: #494a4b;
}

.m-oprate .item-title .nucfont {
  font-size: 14px;
  margin-right: 5px;
}

.m-oprate .kp-list li a {
  display: block;
  position: relative;
  margin: 3px 0 0 15px;
  padding-left: 18px;
  font-size: 12px;
  color: #333;
  cursor: pointer;
}

.m-oprate .kp-list a:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 10px;
  height: 10px;
  border: 1px solid #ddd;
  border-radius: 50%;
  background-color: #fff;
}

.m-oprate .kp-list a.z-select:before,
.m-oprate .kp-list a:hover:before {
  background: #666;
}

/**
  说明：图像主要显示区域
*/
.m-content {
  flex: auto;
  display: flex;
  position: relative;
}

/**
  说明：CT 3D 图像显示 内容显示区域
  1、3D
  2、DR
  3、slice
*/
.m-content .leftside {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.m-content .leftside .dr-canvas1 {
  position: relative;
  display: flex;
  justify-content: center;
  height: 55%;
}

.m-content .leftside .dr-canvas1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 1px;
  width: 60%;
  margin-left: -30%;
  background: #ddd;
}

.m-content .dr-canvas1 .dr-angles {
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 9;
}

.m-content .dr-angles a {
  display: inline-block;
  margin-right: 5px;
  padding: 5px 10px;
  background: #aaa;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.m-content .dr-angles a:hover {
  opacity: .8;
}

.m-content .dr-angles a.active {
  background: #00bcd4;
}

.m-content .dr-canvas1 .canvas-dr {
  align-self: center;
  /*width:90%;
  height:90%;*/
}

.m-content .leftside .slice-canvas {
  position: relative;
  display: flex;
  justify-content: center;
  height: 45%;
}

.m-content .slice-canvas .canvas-slice {
  align-self: center;
}

.m-content .slice-canvas .slice-info {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 30px;
  bottom: 30px;
  z-index: 9;
  width: 150px;
  font-size: 12px;
  color: #777;
}

.m-content .rightside {
  flex: auto;
  display: flex;
}

.m-content .rightside .ct-canvas {
  position: relative;
  flex: auto;
  display: flex;
  justify-content: center;
}

.m-content .ct-canvas .canvas-ct {
  align-self: center;
}

.m-content .rightside .slice-range {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: calc(100vh*0.6 + 40px);
}

.m-content .slice-range span {
  align-self: center;
  font-size: 12px;
  color: #333;
}

.m-content .slice-range input {
  display: block;
  transform: rotate(90deg) translateX(-50%);
  width: calc(100vh*0.6);
  height: 3px;
  transform-origin: left center;
  margin-left: 14px;
  cursor: pointer;
  background: linear-gradient(#059CFA, #059CFA) no-repeat;
  background-size: 50% 100%;
  border-radius: 20px;
  box-shadow: 0 0 1px #333;
  -webkit-appearance: none;
}

.m-content .slice-range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  /*background: none repeat scroll 0 0  #D2DBE8;*/
  background: url(../images/button/btn_slider_normal.png) no-repeat center center;
  background-size: 100% 100%;
  border-radius: 50%;
  -webkit-box-shadow: -1px 0 1px #9fadc7 inset;
}

.m-content .slice-range input::-webkit-slider-thumb:hover {
  background: url(../images/button/btn_slider_hover.png) no-repeat center center;
}

/*说明：3D图像的工具条 tools */
.m-content .ct-operate {
  position: absolute;
  top: 10px;
  left: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 9;
  width: 100%;
  height: 46px;
  padding-left: 50px;
  padding-right: 50px;
}

.m-content .ct-ranges .ct-opacity,
.m-content .ct-ranges .ct-clipping {
  display: none;
  justify-content: space-around;
  line-height: 46px;
  padding-right: 25px;
}

.m-content .ct-ranges input {
  vertical-align: middle;
  display: block;
  height: 3px;
  margin-top: 22px;
  cursor: pointer;
  background: linear-gradient(#059CFA, #059CFA) no-repeat;
  background-size: 50% 100%;
  border-radius: 20px;
  box-shadow: 0 0 1px #333;
  -webkit-appearance: none;
}

.m-content .ct-ranges span {
  padding: 0 10px;
  font-size: 12px;
}

.m-content .ct-ranges input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  margin-bottom: 10px;
  background: url(../images/button/btn_opacity_normal.png) no-repeat center center;
  background-size: 100% 100%;
  /*border-radius: 50%;*/
  border: none;
  /*-webkit-box-shadow: -1px 0 1px #9fadc7 inset;*/
}

.m-content .ct-ranges input::-webkit-slider-thumb:hover {
  background: url(../images/button/btn_opacity_press.png) no-repeat center center;
  background-size: 100% 100%;
}

.m-content .ct-operate .ct-amplify {
  margin-right: 50px;
}

.m-content .ct-operate .ct-amplify a {
  display: inline-block;
  line-height: 46px;
  padding-left: 28px;
  background: url(../images/button/btn_amplify_ct.png) no-repeat left center;
  font-family: '微软雅黑';
  color: #666;
}

.m-content .ct-operate .ct-tools {
  position: relative;
  box-shadow: 0 0 1px 1px #ddd;
  border-radius: 36px;
  padding: 5px 46px 5px 0;
  overflow: hidden;
}

.m-content .ct-tools .ct-btn {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-left: 5px;
  cursor: pointer;
}

.m-content .ct-tools .gray {
  background: url(../images/button/btn_gray_normal.png);
}

.m-content .ct-tools .gray:hover {
  background: url(../images/button/btn_gray_hover.png);
}

.m-content .ct-tools .gray.active {
  background: url(../images/button/btn_gray_checked.png);
}

.m-content .ct-tools .colours {
  background: url(../images/button/btn_colors_normal.png);
}

.m-content .ct-tools .colours:hover {
  background: url(../images/button/btn_colors_hover.png);
}

.m-content .ct-tools .colours.active {
  background: url(../images/button/btn_colors_checked.png);
}

.m-content .ct-tools .ms {
  background: url(../images/button/btn_MS_normal.png);
}

.m-content .ct-tools .ms:hover {
  background: url(../images/button/btn_MS_hover.png);
}

.m-content .ct-tools .ms.active {
  background: url(../images/button/btn_MS_checked.png);
}

.m-content .ct-tools .os {
  background: url(../images/button/btn_os_normal.png);
}

.m-content .ct-tools .os:hover {
  background: url(../images/button/btn_OS_hover.png);
}

.m-content .ct-tools .os.active {
  background: url(../images/button/btn_OS_checked.png);
}

.m-content .ct-tools .inverse {
  background: url(../images/button/btn_blackwhite_normal.png);
}

.m-content .ct-tools .inverse:hover {
  background: url(../images/button/btn_blackwhite_hover.png);
}

.m-content .ct-tools .inverse.active {
  background: url(../images/button/btn_blackwhite_checked.png);
}

.m-content .ct-tools .surface {
  background: url(../images/button/btn_super_normal.png);
}

.m-content .ct-tools .surface:hover {
  background: url(../images/button/btn_super_hover.png);
}

.m-content .ct-tools .surface.active {
  background: url(../images/button/btn_super_checked.png);
}

.m-content .ct-tools .edge {
  background: url(../images/button/btn_edge_normal.png);
}

.m-content .ct-tools .edge:hover {
  background: url(../images/button/btn_edge_hover.png);
}

.m-content .ct-tools .edge.active {
  background: url(../images/button/btn_edge_checked.png);
}

.m-content .ct-tools .hi {
  background: url(../images/button/btn_hi_normal.png);
}

.m-content .ct-tools .hi:hover {
  background: url(../images/button/btn_HI_hover.png);
}

.m-content .ct-tools .hi.active {
  background: url(../images/button/btn_HI_checked.png);
}

.m-content .ct-tools .transparency {
  background: url(../images/button/btn_transparent_normal.png) no-repeat center center;
}

.m-content .ct-tools .transparency:hover {
  background: url(../images/button/btn_transparent_hover.png) no-repeat center center;
}

.m-content .ct-tools .transparency.active {
  background: url(../images/button/btn_transparent_checked.png) no-repeat center center;
}

.m-content .ct-tools .clipping {
  background: url(../images/button/btn_clip_normal.png) no-repeat center center;
}

.m-content .ct-tools .clipping:hover {
  background: url(../images/button/btn_clip_hover.png) no-repeat center center;
}

.m-content .ct-tools .clipping.active {
  background: url(../images/button/btn_clip_checked.png) no-repeat center center;
}

.m-content .ct-tools .mark {
  background: url(../images/button/btn_marktip_normal.png);
}

.m-content .ct-tools .mark:hover {
  background: url(../images/button/btn_marktip_hover.png);
}

.m-content .ct-tools .mark.active {
  background: url(../images/button/btn_marktip_checked.png);
}

.m-content .ct-tools .topangle {
  background: url(../images/button/btn_top_normal.png);
}

.m-content .ct-tools .topangle:hover {
  background: url(../images/button/btn_top_hover.png);
}

.m-content .ct-tools .topangle.active {
  background: url(../images/button/btn_top_checked.png);
}

.m-content .ct-tools .leftangle {
  background: url(../images/button/btn_left_normal.png);
}

.m-content .ct-tools .leftangle:hover {
  background: url(../images/button/btn_left_hover.png);
}

.m-content .ct-tools .leftangle.active {
  background: url(../images/button/btn_left_checked.png);
}

.m-content .ct-tools .rightangle {
  background: url(../images/button/btn_right_normal.png);
}

.m-content .ct-tools .rightangle:hover {
  background: url(../images/button/btn_right_hover.png);
}

.m-content .ct-tools .rightangle.active {
  background: url(../images/button/btn_right_checked.png);
}

.m-content .ct-tools .reset {
  background: url(../images/button/btn_reset_disable.png);
}

.m-content .ct-tools .reset:hover {
  background: url(../images/button/btn_reset_checked.png);
}

.m-content .ct-tools .ct-zoom {
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  height: 46px;
  float: right;
  background: url(../images/button/btn_zoom_normal.png) no-repeat center center;
  cursor: pointer;
}

.m-content .ct-tools .ct-zoom:hover {
  background: url(../images/button/btn_zoom_hover.png) no-repeat center center;
}

.m-content .ct-tools .ct-zoom.z-select {
  background: url(../images/button/btn_zoom_checked.png) no-repeat center center;
  transform: rotate(180deg);
}

/**
  说明：DR 图像 内容显示区域
*/
.m-content .dr-canvas {
  position: relative;
  flex: auto;
  display: flex;
  justify-content: center;
}

.m-content .dr-entity {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.m-content .dr-entity img {
  max-width: 100%;
  max-height: 100%;
}

.m-content .dr-canvas div {
  position: relative;
  -webkit-user-select: none;
}

.m-content .dr-canvas .active:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -10px;
  border: 10px solid transparent;
  border-bottom-color: #ff5b5b;
  animation: breath 1s ease-in infinite alternate;
}

@keyframes breath {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/**
  说明：DR 图像全屏的底部 footer
  1、视角一、视角二
  2、ms/os/hi/ 等操作
*/
.m-dr-footer {
  display: flex;
  justify-content: center;
  height: 150px;
  padding: 10px 0;
  background: #9a9a9c;
  z-index: 99;
}

.m-dr-footer .dr-oprate {
  display: flex;
  width: 45%;
  min-width: 800px;
}

.m-dr-footer .dr-oprate > div {
  background: #767677;
}

.m-dr-footer .dr-oprate > div:nth-of-type(1) {
  width: 40%;
  margin-right: 20px;
  padding: 15px;
}

.m-dr-footer .dr-oprate > div:nth-of-type(2) {
  width: 60%;
}

.m-dr-footer .oprate-left .oprate-left {
  display: flex;
  flex-direction: column;
}

.m-dr-footer .oprate-left .angle-wrap {
  overflow: hidden;
}

.m-dr-footer .oprate-left .entity-wrap {
  display: none;
  margin-top: 20px;
}

.m-dr-footer .oprate-left a {
  display: inline-block;
  margin-right: 5px;
  padding: 10px 15px;
  background: #aaa;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

.m-dr-footer .oprate-left a:hover {
  opacity: .8;
}

.m-dr-footer .oprate-left a.active {
  background: #00bcd4;
}

.m-dr-footer .oprate-left a.noactive {
  background: #aaa;
}

.m-dr-footer .dr-angles {
  float: left;
}

.m-dr-footer .dr-amplify {
  float: right;
}

.m-dr-footer .dr-amplify a {
  padding: 8px 10px 8px 30px;
  font-family: '微软雅黑';
  background: url(../images/dr-icons/btn_zoominout_dr.png) no-repeat;
  background-position: left center;
}

.dr-oprate .oprate-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 50px;
}

.dr-oprate .dr-btn {
  display: inline-block;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.dr-oprate .oprate-right > div {
  display: flex;
  justify-content: space-between;
}

.dr-oprate .side-down > div,
.dr-oprate .side-down > div a {
  -webkit-user-select: none;
}

.dr-oprate .bw {
  background: url(../images/dr-icons/btn_BW_normal.png);
}

.dr-oprate .bw.active {
  background: url(../images/dr-icons/btn_BW_press.png);
}

.dr-oprate .colours {
  background: url(../images/dr-icons/btn_colors_normal.png);
}

.dr-oprate .colours.active {
  background: url(../images/dr-icons/btn_colors_press.png);
}

.dr-oprate .ms {
  background: url(../images/dr-icons/btn_MS_normal.png);
}

.dr-oprate .ms.active {
  background: url(../images/dr-icons/btn_MS_press.png);
}

.dr-oprate .os {
  background: url(../images/dr-icons/btn_OS_normal.png);
}

.dr-oprate .os.active {
  background: url(../images/dr-icons/btn_OS_press.png);
}

.dr-oprate .marktip {
  background: url(../images/dr-icons/btn_marktip_normal.png);
}

.dr-oprate .marktip.active {
  background: url(../images/dr-icons/btn_marktip_press.png);
}

.dr-oprate .inverse {
  background: url(../images/dr-icons/btn_blackwhite_normal.png);
}

.dr-oprate .inverse.active {
  background: url(../images/dr-icons/btn_blackwhite_press.png);
}

.dr-oprate .gen {
  background: url(../images/dr-icons/btn_GEN_normal.png);
}

.dr-oprate .gen.active {
  background: url(../images/dr-icons/btn_GEN_press.png);
}

.dr-oprate .absor-minus {
  background: url(../images/dr-icons/btn_absorb_minus.png);
}

.dr-oprate .absor-minus.active {
  background: url(../images/dr-icons/btn_absorb_minus_active.png);
}

.dr-oprate .absor-plus {
  background: url(../images/dr-icons/btn_absorb_plus.png);
}

.dr-oprate .absor-plus.active {
  background: url(../images/dr-icons/btn_absorb_plus_active.png);
}

.dr-oprate .hi {
  background: url(../images/dr-icons/btn_HI_normal.png);
}

.dr-oprate .hi.active {
  background: url(../images/dr-icons/btn_HI_press.png);
}

.dr-oprate .reset {
  background: url(../images/dr-icons/btn_reset_normal.png);
}

/*
  说明：页面反色效果
*/
.inverse .m-header,
.inverse .m-title,
.inverse .m-content,
.inverse .m-dr-footer {
  background: #000;
}

.inverse .m-title .map-info {
  color: #aaa;
}

/*CT*/
.inverse .m-content .leftside .dr-canvas1::after {
  background: #555;
}

.inverse .m-content .dr-angles a {
  background: #555;
  color: #aaa;
}

.inverse .m-content .dr-angles a.active {
  background: #37718b;
}

.inverse .m-content .slice-range input,
.inverse .m-content .ct-ranges input {
  box-shadow: 0 0 1px #fff;
}

.inverse .m-content .slice-range span {
  color: #777;
}

/*
  说明：页面图像加载前的loading效果样式
*/
#loading {
  display: none;
  position: absolute;
  top: 54px;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 9999;
  opacity: 0.9;
}

#loading .clock {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -27px;
  margin-left: -27px;
  width: 50px;
  height: 50px;
  border: 2px solid #444;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#loading .clock:after {
  content: "loading......";
  position: absolute;
  width: 120px;
  height: 50px;
  line-height: 46px;
  top: 0;
  left: 60px;
}

#loading .clock div:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid transparent;
  border-bottom: 24px solid #aaa;
  margin: -24px 0 0 -1px;
  -webkit-animation: clock 1s linear infinite;
  -o-animation: clock 1s linear infinite;
  animation: clock 1s linear infinite;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
}

#loading .clock div:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid transparent;
  border-bottom: 15px solid #666;
  margin: -15px 0 0 -1px;
  -webkit-animation: clock 6s linear infinite;
  -o-animation: clock 6s linear infinite;
  animation: clock 6s linear infinite;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
}

@keyframes clock {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*新的模板*/
.m-alert {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 99;
}

.m-alert .alert-wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  min-width: 400px;
  max-width: 800px;
  transform: translate(-50%, -50%);
  background-color: #eee;
  border-radius: 2px;
  background: #fff;
}

.m-alert .alert-wrap header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 14px;
  color: #555;
}

.m-alert header a {
  font-size: 12px;
}

.m-alert header a:hover {
  color: #ff4081;
}

.m-alert .alert-wrap section {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  background: #eee;
  padding: 5px 10px;
}

.m-alert section p {
  line-height: 36px;
  color: #818080;
  font-family: "微软雅黑";
}

.m-alert section .text-center {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.m-alert .text-center i {
  margin-right: 10px;
  line-height: 36px;
  vertical-align: middle;
  font-size: 16px;
}

.m-alert .text-center.warning i {
  color: #f90;
}

.m-alert .text-center .inuc-check {
  color: #00bcd4;
}

.m-alert .text-center .inuc-close {
  color: #ff4081;
}

.m-alert .text-center .inuc-clock-o {
  color: #f90;
}

.m-alert .text-center .keytopic {
  color: #1296db;
}

.m-alert .alert-wrap footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10px;
  font-size: 14px;
}

.m-alert footer a {
  background: #36c6d3;
  transition: none;
}

/**
  说明：侧边图像库菜单栏
*/
.fix-title {
  position: fixed;
  top: 60px;
  right: 5px;
  padding: 5px;
  background: #00bcd4;
  color: #fff;
  border-radius: 2px;
  opacity: 0;
  z-index: 100;
  cursor: pointer;
}

.fix-title:hover {
  background: #0093AD;
}

.map-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 54px;
  right: 0;
  z-index: 1000;
  width: 300px;
  height: 80%;
}

.map-menu .map-title {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #595959;
  color: #fff;
}

.map-menu .map-title .nucfont:hover {
  color: #00bcd4;
}

.map-menu .map-content {
  position: relative;
  flex: 1;
  width: 100%;
  max-height: 90%;
  padding: 5px 0 5px 5px;
  box-shadow: -1px 1px 2px 1px #ddd;
  background: #fff;
  overflow-y: auto;
}

.map-menu .map-content li {
  height: 36px;
  background: #f5f5f5;
  margin-bottom: 4px;
  cursor: pointer;
}

.map-menu .map-content li:hover {
  background: #e8e8e8;
  color: #40a9ff;
}

.map-menu .map-content li:hover img {
  transform: scale(1.1);
}

.map-menu .map-content li.active {
  background: #e8e8e8;
  color: #40a9ff;
}

.map-menu .map-content li img {
  float: left;
  display: block;
  width: 36px;
  height: 36px;
  padding: 2px;
}

.map-menu .map-content li div {
  height: 36px;
  line-height: 36px;
  padding-left: 5px;
  overflow: hidden;
}
