.m-about {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  overflow-y: scroll;
  color: #fff;
  text-align: center;
}
.m-about .header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  padding: 0 50px;
  color: #ed0a75;
}
.m-about .header .music span {
  width: 5px;
  height: 36px;
  margin-left: 5px;
  background-color: #ed0a75;
}
.m-about .bg-picture {
  display: none;
}
.m-about .god {
  margin-top: 10%;
  text-align: center;
}
.m-about .god .motto {
  margin-bottom: 15px;
  line-height: 1.5;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 5px;
}
.m-about .god .about-me {
  font-size: 2rem;
  letter-spacing: 5px;
  line-height: 1.5;
}
.m-about .about {
  margin-top: 50px;
}
.m-about .about .info {
  max-width: 60%;
  margin: 0 auto 80px;
}
.m-about .about .info .avatar {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 2px solid #ddd;
  border-radius: 50%;
}
.m-about .about .info .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.m-about .about .info h3 {
  margin-bottom: 10px;
  font-size: 22px;
}
.m-about .about .info hr {
  height: 2px;
  width: 50px;
  margin: 15px auto 30px;
  background-color: rgba(0, 0, 0, 0.6);
}
.m-about .about .info p {
  line-height: 20px;
}
.m-about .about .info ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.m-about .about .info ul.contact li {
  margin: 2px;
}
