@charset "utf-8";
/* 初始化CSS */
* {
  box-sizing: border-box;
}
html, body, div, p, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0;word-wrap:break-word;word-break:break-all; }fieldset, img { border:none; }
h1, h2, h3, h4, h5, h6{font-weight: normal;}
fieldset, img { border:none; }
address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
ul,ol,dl,dd,dt,li { list-style:none;}
input,img,fieldset {border:none}
img{vertical-align:middle}
input { padding-top:0; padding-left:0; padding-bottom:0;outline:none;}
a:focus,input{outline:none}
select, input { vertical-align:middle; }
select, input, textarea { font-size:12px; padding: 0; margin:0; font-family:"Microsoft YaHei","微软雅黑", "宋体", Arial, "Times New Roman";}
table { border-collapse:collapse; }
table,tr,td{ border:none;}
/*td{ border-left:1px solid; border-bottom:1px solid;}*/
body {background:#fff;color:#555; font:12px/20px "Microsoft YaHei","微软雅黑", "宋体", Arial, "Times New Roman"; }
.clearfix:after { content:"."; display:block; height:0; visibility:hidden; clear:both; }
.clearfix { zoom:1; }
.clearit { clear:both; height:0; font-size:0; overflow:hidden; }
a{ color:#333; text-decoration:none; cursor: pointer;}
b{font-weight: normal;}
i{font-style: normal;}
input[type="text"],input[type="password"],input[type="number"],input[type="button"]{-webkit-appearance:none;appearance:none;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
hr{margin:0;}
.clearfix:before,.clearfix:after {
	content:".";display:block;height:0;clear:both;visibility:hidden
}
.clearfix {
	display:inline-block
}
.clearfix {
	display:block
}

/*常用的几个css样式 简写*/
.l {
	float: left;
}
.r {
	float: right;
}
.hide {
	display: none;
}

.scroll-bar::-webkit-scrollbar {
  width: 10px;
  height: 16px;
  padding: 5px 0;
  background: #aaa;
  border-radius: 5px;
}
.scroll-bar::-webkit-scrollbar-thumb {
  width: 10px;
  background: #bbb;
  border-radius: 5px;
}
.scroll-bar::-webkit-scrollbar-track {
  background: #ddd;
}

@keyframes rotate50 {
  50% {
    transform: translate(-50%, -85%) rotate(180deg);
  }
  100% {
    transform: translate(-50%, -85%) rotate(360deg);
  }
}

@keyframes cursoring {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes roll {
  0% {
    transform: translateY(0%);
    animation-delay: 1s;
  }
  25% {
    transform: translateY(-25%);
    animation-delay: 1s;
  }
  50% {
    transform: translateY(-50%);
    animation-delay: 1s;
  }
  75% {
    transform: translateY(-75%);
    animation-delay: 1s;
  }
  100% {
    transform: translateY(-100%);
  }
}

